// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner {
  width: 100%;
  height: 600px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: block;
  width: 50%;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-right: 100px;
}

.btn-ghost {
  background-color: white;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

h1 {
  text-align: center;
}

a {
  color: black;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
  color: black ;
  
}

.btn btn-success {
  padding: 100px;
}

h1 {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

span {
  padding-left: 40px;
  font-family: 'Roboto';
}

.comment {
  text-align: center;
  font-style: italic;
  padding: 20px;
  font-family: 'Mate SC', serif;
  margin: 5px
}


